@import 'variables';
@import 'resets';




.btn {
    display: inline-block;
}

.btn .btn-primary {
    padding: 20px 25px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: #fff;
    text-align: center;
    transition: all 0.3s;
    min-width: 200px;
}

.btn-primary:hover {
    filter: brightness(115%);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 1);
}