@import 'variables';
@import 'resets';





.btn-heart {
    position: relative;
    height: 34px;
    width: 34px;
    background-color: transparent;
    border: 0;
    font-size: 27px;

    .btn-heart__on {
        position: absolute;
        top: 4px;
        left: 4px;
        opacity: 0;
        transition: opacity 300ms;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    }

    .btn-heart__off {
        position: absolute;
        top: 4px;
        left: 4px;
        transition: opacity 300ms;
    }

    &:hover {
        .btn-heart__on {
            opacity: 1;
        }

        .btn-heart__off {
            opacity: 0;
        }
    }
}

.btn {
    display: inline-block;
    cursor: pointer;

}


.btn__primary,
.btn__secondary {
    font-size: map-get($font-sizes, "small");
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to bottom right, $secondary, $primary);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    color: $white;
    padding: 18px 20px;
    text-align: center;
    align-items: center;
    transition: all 0.3s;
    width: 100%;

}

.btn__secondary {
    width: 200px;
}

.btn__primary,
.btn__secondary {

    &:hover {
        transform: scale(1.15);
        filter: brightness(115%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 2);

    }
}