.card-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-group .card {
    min-width: 300px;
    flex: 1 1 0;
}

.card {
    @extend %column;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    &-card-activities {
        border: 0;
    }

    &-card-content {
        padding: 10px 14px;
    }

    &-card-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        max-width: 100%;
        height: 300px;
    }

    &-title,
    &-text {
        margin: 0;
    }


}

.card-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    height: 300px;
}

.card-group {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
}

.card-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;



}

.card-content {
    padding: 10px 14px;
    gap: 5px;

}

.card-title {
    margin: 0;
    padding: 0;
}

/* heading underline */
.meal-title::after {
    content: '';
    height: 4px;
    display: block;
    background-color: #99E2D0;
    width: 30px;

}


.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.restaurants {
    background-color: $light-grey;
}