@import 'helpers';

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

.container-rest {
    padding-top: 60px;
    padding-bottom: 100px;
}

.container-expl {
    @extend %column;
}