%column {
    display: flex;
    flex-direction: column;
}

%row {
    display: flex;
    flex-direction: row;
}

%width {
    width: 100%;
    max-width: 100%;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





/* 
@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
*/