.filter-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}

.icon-number {
    position: relative;
    padding: 5px 5px;
}

.link-back {
    position: absolute;
    left: 10px;
}