.filter-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}

.icon-number {
    position: relative;
    padding: 5px 5px;
}

.link-back {
    position: absolute;
    left: 10px;
}

.footer-icon {
    width: 900;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    color: #FF79DA;
    background-color: transparent;
    text-decoration: underline;
}

.number-icon {
    height: 27px;
    width: 27px;
    background-color: $primary;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -12px;
}

.icon-location {
    position: absolute;
    left: 20px;
}

.icon-new {
    display: block;
    text-align: center;
    padding: 10px 15px;
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: $tertiary;
    border-radius: 5px;
    right: 20px;
    top: 17px;
}