.filter-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}

.icon-number {
    position: relative;
    padding: 5px 5px;
}

.link-back {
    position: absolute;
    left: 10px;
}

.footer-icon {
    width: 900;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    color: #FF79DA;
    background-color: transparent;
    text-decoration: underline;
}

.steps__number {
    height: 27px;
    width: 27px;
    background-color: $primary;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -12px;
}


.btn-heart {
    position: relative;
    height: 34px;
    width: 34px;
    background-color: transparent;
    border: 0;
    font-size: 27px;

    .btn-heart__on {
        position: absolute;
        top: 4px;
        left: 4px;
        opacity: 0;
        transition: opacity 300ms;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    }

    .btn-heart__off {
        position: absolute;
        top: 4px;
        left: 4px;
        transition: opacity 300ms;
    }

    &:hover {
        .btn-heart__on {
            opacity: 1;
        }

        .btn-heart__off {
            opacity: 0;
        }
    }
}