.menu-img {
    height: 300px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: -10;
    top: 50px;
    object-fit: cover;
}


.padding-btm {
    padding-bottom: 243px;
}

.header-logo {
    text-align: center;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}