.menu {
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    margin-top: 240px !important;

}

.menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.menu-item {
    background: wh;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;

    .menu-item__price {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: $white;

    }

    &:hover {
        .menu-item__checkmark {
            width: 75px;
        }

        .menu-item__checkmark-icon {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    .menu-item__body {
        width: 100%;
        padding: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: $white;

        .menu-item__content,
        .menu-item__heading {
            margin: 0;
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .menu-item__heading {
            font-size: 17px;
        }
    }

    .menu-item__checkmark {
        width: 0;
        background: $tertiary;
        transition: width 1s;
        right: 0;
        top: 0;
        bottom: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item__checkmark-icon {
        transform: rotate(360deg);
        transition: transform 1s;
        color: white;
    }
}

.meal-title {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding-top: 20px;
}

.meal-title::after {
    content: '';
    height: 4px;
    display: block;
    background-color: #99E2D0;
    width: 30px;

}

.menu-img {
    height: 300px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: -10;
    top: 50px;
    object-fit: cover;
}