.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-strong {
    font-weight: 700;
}

.font-secondary {
    font-family: $font-logo;
}

.text-decor-none {
    text-decoration: none;
    color: #fff;
}