.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-strong {
    font-weight: 700;
}

.font-secondary {
    font-family: $font-logo;
}

.text-decor-none {
    text-decoration: none;
    color: #fff;
}

.txt-centered {
    text-align: center;
}


.txt-sz-m {
    font-size: 18px;
}


.txt-sz-s {
    font-size: 17px;
}

.txt-white {
    color: $white;
}

.corp-txt {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    margin-bottom: 0;
}