@import 'variables';

/* background colours */

.bg--light-1 {
    background-color: $white;
}

.bg--light-2 {
    background-color: $light-grey;
}

.bg--medium {
    background-color: $medium-grey;
}

.bg--dark {
    background-color: $dark-grey;
}

.font-white {
    color: $white;
}

.footer-logo {
    font-family: $font-logo;
    margin-bottom: 0;
    font-weight: 300;
}

.columns {
    flex-direction: column;
}


/* padding-top */


.pd-top--1 {
    padding-top: 50px;
}

.pd-top--2 {
    padding-top: 20px;
}

.pd-top--3 {
    padding-top: 30px;
}


.pd-top--4 {
    padding-top: 10px;
}

/* padding-bottom */

.pd-bot--1 {
    padding-bottom: 60px;
}

.pd-bot--2 {
    padding-bottom: 20px;
}

.pd-bot--3 {
    padding-bottom: 10px;
}

.pd-bot--4 {
    padding-bottom: 80px;
}

.nav-bar__logo-wrapper {
    padding: 20px o;
}

.padding {
    padding: 20px o;
}

.title {
    margin-top: 0;
}

/* Box-shadow */


.shadow-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.shadow-2 {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.5);
}


.back {
    z-index: 10;
    position: relative;
}

.front {
    z-index: 100;
    position: relative;
}

.left {
    right: 20px;
}

.stretch-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}