.bg-grey-light {
    background-color: $light-grey;
}

.bg-grey-dark {
    background-color: $dark-grey;
}

.bg-grey-medium {
    background-color: $medium-grey;
}

.font-white {
    color: $white;
}

.footer-logo {
    font-family: $font-logo;
}