/* colours */

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #7E7E7E;
$dark-grey: #EAEAEA;
$light-grey: #F6F6F6;
$white: #fff;
$black: #000000;
$hover: #F5EDFF;

/* fonts */


$font-logo: 'Shrikhand', cursive;
$font-main: 'Roboto', sans-serif;

/* text-sizes */

$font-sizes: (
    "extra-large":31px,
    "large": 22px,
    "medium": 18px,
    "small": 15.4px,
    "extra-small": 13px
);

$font-weight: (
    "bold": 900,
);

$direction: (
    "row": row,
    "column": column
);