@import 'resets';
@import 'variables';
@import 'button';
@import 'helpers';
@import 'icons';



.padding {
    padding: 10px 0 10px 30px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.row-instructions {
    display: flex;
    gap: 32px;
}



.page-title {
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);

}

.card {
    @extend %column;
    border-radius: 20px;
    overflow: hidden;
    border: solid 5px white;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.section-instruction {
    padding-right: 20px;

}

/* logo */

.headerlogo {

    display: block;
    position: relative;
    z-index: 10;
    background-color: $white;
    border: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;

    .logo-image {
        height: 28px;
        width: 160px;
        margin-top: 22px;
        margin-bottom: 10px;
    }

}


.brand-logo {
    font-family: $font-logo;
    font-size: map-get($font-sizes, "extra-large");
}

/* seacrh */

.search {
    position: relative;
    @extend %row;
    text-align: center;
    align-items: baseline;
    width: 100%;
    max-width: 100%;
    border: 0;
    padding-left: 305px;
    font-size: map-get($font-sizes, "small");

}

.search-icon {
    position: relative;
}

.search-container {
    @extend %column;
    text-align: center;
    padding: 0 0 60px 0;
}

.search-input {
    border: 0px;
    padding: 10px;
    width: 200px;
    height: 100%;
    background-color: transparent;
    display: block;
    margin: 0px auto 16px;

    padding: 0px 16px;
}

.column {
    @extend %column;
}



/*
border: 0px;
border-radius: 0px;
padding: 8px;
width: 100%;
position: relative;
font-family: Arial,
"Helvetica Neue",
Helvetica,
sans-serif;
height: 100%;
}

border: 0px;
    border-radius: 0px;
    padding: 8px;
    width: 100%;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;




*/



.dark-grey {
    background-color: $dark-grey;
    width: 100%;
    height: 50px;
}

.bold {
    font-size: map-get($font-weight, "bold");
}

/* Font sizes */

.font-size-l {
    font-size: map-get($font-sizes, "large");
}

.font-size-m {
    font-size: map-get($font-sizes, "medium");
}

.font-size-s {
    font-size: map-get($font-sizes, "small");
}

/* Card */

.card-group {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    border: solid 5px white;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s;
}

.section {
    padding: 20px;
}

.card-activities {
    border: 0;

}

.card-content {
    padding: 10px 14px;
}

.card-image {
    object-fit: cover;
    object-position: center;
}

.card-image-accomodations {
    height: 130px;
}


.bg-grey-light {
    background-color: $light-grey;
}



.icon-blue {
    color: $white;
    background-color: $primary;
}

/* Grid */




/*
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

*/