@import 'resets';
@import 'variables';
@import 'button';
@import 'helpers';
@import 'icons';
@import 'cards';
@import 'grid';
@import 'utils';
@import 'text';
@import 'images';


.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.padding {
    padding: 10px 0 10px 30px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}


.row-instructions {
    display: flex;
    gap: 32px;
}

.flex-start {
    justify-content: flex-start;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    text-align: center;
    background-color: $white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);

}

.section-instruction {
    padding-right: 20px;

}

/* header icon */

.header-icon {
    padding: 0 20px;

}

/* logo */

.headerlogo {

    display: block;
    position: relative;
    z-index: 10;
    background-color: $white;
    border: 0;
    width: 100%;
    height: 100%;

    .logo-image {
        height: 28px;
        width: 160px;
        margin-top: 22px;
        margin-bottom: 10px;
    }

}


.brand-logo {
    font-family: $font-logo;
    font-size: map-get($font-sizes, "extra-large");
}

/* seacrh */

.search {
    position: relative;
    @extend %row;
    text-align: center;
    align-items: baseline;
    width: 100%;
    max-width: 100%;
    border: 0;
    padding-left: 305px;
    font-size: map-get($font-sizes, "small");

}

.search-icon {
    position: relative;
}

.search-container {
    @extend %column;
    text-align: center;
    padding: 0 0 60px 0;
}

.search-input {
    border: 0px;
    padding: 10px;
    width: 200px;
    height: 100%;
    background-color: transparent;
    display: block;
    margin: 0px auto 16px;

    padding: 0px 16px;
}

.column {
    @extend %column;
}

.dark-grey {
    background-color: $dark-grey;
    width: 100%;
    height: 50px;
}

/* Font sizes */

.font-size-xl {
    font-size: map-get($font-sizes, "extra-large");
}

.font-size-l {
    font-size: map-get($font-sizes, "large");
}

.font-size-m {
    font-size: map-get($font-sizes, "medium");
}

.font-size-s {
    font-size: map-get($font-sizes, "small");
}

.font-size-xs {
    font-size: map-get($font-sizes, "extra-small");
}

/* Card */

.card-group {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}



.section {
    padding: 20px;
}


.icon-blue {
    color: $white;
    background-color: $primary;
}

/* Grid */




/*
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

*/